/* Hero.css */
.h-hero {
    background-image: url("../../Assets/hero.png");
    background-size: cover;
    height: 400px;
    color: #fff;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .sub-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 400px;
  }
  
  .d-div {
    text-align: start;
  }

  .d-div h3{
font-weight: 600;
font-size: 2em;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    margin-top: 40px;
    height: 100px;
    width: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    position: absolute;
  }
  
  .image:nth-child(1) {
    z-index: 1;
  }
  
  .image:nth-child(2) {
    z-index: 2;
  }
  
  .image:nth-child(3) {
    z-index: 3;
  }
  

  @media screen and (max-width : 978px) {

        .h-hero {
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            padding: 100px 80px;

        }
    
        .sub-div {
          
            gap: 50px;
          }
  }